<% layout('layouts/boilerplate')%>

<main class="profilePg">
    <div class="profileInfo">
        <img src="<%=username.profilePicture%>" alt="profile-picture" class="profilePic">
        <p><%=username.username%></p>
    </div>
    
    <div class="profileGallery">
        <%images.slice().reverse().forEach((img, i) => {%>
            <%if(img.img != ' ' || img.img != null || img.img != none) {%>
                <a href="/gallery/<%=img._id%>"><img src="<%=img.img%>" alt="galleryImg" class="galleryImgs"></a>
            <%}%>
        <%})%>
    </div>
</main>