<% layout('layouts/boilerplate')%>
<div class="sketchPg">
    <div id="sketch">
        <canvas id="paint"></canvas>
    </div>
    
    <div id="sketchAssests">
        <div>
            <button class="clear" id="clear">clear</button>
            <form action="/sketch" method="post">
                <input type="text" id='img' name="img" hidden>
                <button class="save" id="save">save</button>
            </form>
        </div>
        <div class="pen">
            <h5>pen attributes</h5>
            <div class="colorPicker" id="colorPicker">
                <input type="color" value="#000000" id="penColor">
                <label for="penColor" id="penColorValue">#000000</label>
            </div>
            <div class="pxPicker" id="pxPicker">
                <!-- <input type="range" value="5" id="pxSize" name="cowbell"
                 min="0" max="100" step="1"> -->
                <input type="number" value="5" id="pxSize">
            </div>
            <div class="penTip" id="penTip">
                <select name="size" id="size">
                    <option value="round">round</option>
                    <option value="butt">square</option>
                </select>
                <label for="size">pen tip</label>
            </div>

            <div class="drawShapes" id="drawShapes">
                <select name="shape" id="shape">
                    <option value="pen">pen</option>
                    <option value="circle">circle</option>
                    <option value="square">square</option>
                    <option value="line">line</option>
                </select>
                <label for="shape">shapes</label>
            </div>
        </div>
        <br>
        <div class="canvas">
            <h5>canvas attributes</h5>
            <div>
                <input type="color" value="#FFFFFF" id="canvasColor">
                <label for="canvasColor" id="canvasColorValue">#FFFFFF</label>
            </div>
        </div>

        <p>background images</p>
        <div class="bgimgs">
            <%bgimgs.forEach((img, i) => {%>
                <img src="<%=img%>" alt="bgimg" id="img<%=i%>">
            <%})%>

            <button id="none">none</button>
        </div>
    </div>

    <div>
        <button id="download">download</button>
    </div>
</div>

<script>
    var eventObj = '<%- JSON.stringify(bgimgs) %>'; // test is now a valid js object
</script>
<script src="/scripts/sketch.js"></script>