<% layout('layouts/boilerplate')%>


<h1>hello i am sketch</h1>
<div>
    <button id="download">download</button>
</div>

<div class="sketchPg">
    <div id="sketch">
        <canvas id="paint"></canvas>
    </div>
    
    <div id="sketchAssests">
        <div class="pen">
            <h5>pen attributes</h5>
            <div class="colorPicker" id="colorPicker">
                <input type="color" value="#000000" id="penColor">
            </div>
            <div class="pxPicker" id="pxPicker">
                <!-- <input type="range" value="5" id="pxSize" name="cowbell"
                 min="0" max="100" step="1"> -->
                <input type="number" value="5" id="pxSize">
            </div>
            <div class="penTip" id="penTip">
                <select name="size" id="size">
                    <option value="round">round</option>
                    <option value="butt">square</option>
                </select>
            </div>

            <div class="drawShapes" id="drawShapes">
                <select name="shape" id="shape">
                    <option value="circle">circle</option>
                    <option value="square">square</option>
                    <option value="triangle">triangle</option>
                    <option value="pen">pen</option>
                </select>
            </div>
        </div>
        <div class="canvas">
            <h5>canvas attributes</h5>
            <div>
                <input type="color" value="#FFFFFF" id="canvasColor">
            </div>
        </div>
    </div>
</div>
