<% layout('layouts/boilerplate')%>

<main class="splashPg">
    <div class="banner">
        <div class="getStarted">
            <h3>Wanna doodle?</h3>
            
            <a href="/gallery">get started</a>
        </div>

        <div class="bark">
            <img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637530021/paint-app/poodle_2_ldwets.png" alt="">
        </div>
    </div>

    <div class="tutorial">
        <div class="zindex2">
            <h1>Drawing is easy with Poodle Doodle!</h1>
            <div class="tutorialRow">
                <div class="tutorialLeft">
                    <ul>
                        <li>Create an account</li>
                        <li>Go to the Sketchpad tab</li>
                        <li>Select a photo or color for your background</li>
                        <li>Select a pen or shape tool </li>
                        <li>Select a color </li>
                        <li>Get started! </li>
                    </ul>
                </div>
                <div class="tutorialRight">
                    <img src="#" alt="tutorial">
                </div>
            </div>
        </div>
    </div>

    <div class="aboutUs">
        <h1>Meet The Team</h1>
        <div class="people">
            <div class="mariel">
                <img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1636672805/portfolio/picture_zb5vbf.jpg" alt="mariel" class="marielProfilePic">
                <p> Mariel is a cognitive scientist turned full stack developer. After five years of research, she realized her passion wasn't for research but for developing easily accessible tools.</p>
                <div class="contactus">
                    <a href="https://www.linkedin.com/in/mtisby/"><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637450369/paint-app/logos/LinkedIn_g8dely.png" alt="linkedin"></a>
                    <a href="https://mtisby.github.io/mtisby-website/"><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637450368/paint-app/logos/Website_pt9szx.png" alt="portfolio"></a>
                    <a href="https://github.com/mtisby"><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637450368/paint-app/logos/GitHub_qb49mi.png" alt="github"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="inCollab">
        <h3>In collaboration with:</h3>

        <div class="incollablogos">
            <a href="https://mintbean.io/"><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637451230/paint-app/logos/mintbean_logo-05a88f91aef3b5f00207b3bee9e4cc30_1_q0zcen.png" alt="mintbean-logo"></a>
        </div>
    </div>
</main>
