<% layout('layouts/boilerplate')%>

<main class="splashPg">
    <div class="banner">
        <h3>Wanna doodle?</h3>
        

        <a href="/gallery">get started</a>
    </div>

    <div class="tutorial">
        <div class="tutorialLeft">
            <ul>
                <li>Create an account</li>
                <li>Go to the Sketchpad tab</li>
                <li>Select a photo or color for your background</li>
                <li>Select a pen or shape tool </li>
                <li>Select a color </li>
                <li>Get started! </li>
            </ul>
        </div>

        <div class="tutorialRight">
            <img src="#" alt="tutorial">
        </div>
    </div>

    <div class="aboutUs">
        <h3>Meet Our Team</h3>
        <div class="people">
            <div class="mariel">
                <img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1636672805/portfolio/picture_zb5vbf.jpg" alt="mariel">
                <p>blurb</p>
                <div class="contactus">
                    <a href="https://www.linkedin.com/in/mtisby/"><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637450369/paint-app/logos/LinkedIn_g8dely.png" alt="linkedin"></a>
                    <a href="https://mtisby.github.io/mtisby-website/"><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637450368/paint-app/logos/Website_pt9szx.png" alt="portfolio"></a>
                    <a href="https://github.com/mtisby"><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637450368/paint-app/logos/GitHub_qb49mi.png" alt="github"></a>
                </div>
            </div>
            <div class="jane">
                <img src="#" alt="">
                <p>blurb</p>
                <div class="contactus">
                    <a href=""><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637450369/paint-app/logos/LinkedIn_g8dely.png" alt="linkedin"></a>
                    <a href=""><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637450368/paint-app/logos/Website_pt9szx.png" alt="portfolio"></a>
                    <a href=""><img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637450368/paint-app/logos/Behance_j4a7gc.png" alt="behanced"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="inCollab">
        <h3>In collaboration with:</h3>

        <div class="incollablogos">
            <img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637451230/paint-app/logos/mintbean_logo-05a88f91aef3b5f00207b3bee9e4cc30_1_q0zcen.png" alt="mintbean-logo">
            <img src="https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637451230/paint-app/logos/general-assembly-logo_1_yi4aug.png" alt="general-assembly-logo">
        </div>
    </div>
</main>
