html{
    --type-font: 'Black Han Sans', sans-serif;
    --head-font: 'Fredoka One', cursive;

    --purple: #A259FF;
    --lavendar: #C08EFF;
    --blood-orange: #F24E1E;
    --salmon: #FF7262;
    --blue: #1ABCFE;
    --seafoam: #0ACF83;
    --light-green: #81E08A;
    --dark-green: #06A065;
    --mauv: #EA79A8;
    --fuchsia: #FF2E86;
    --cream2: #F8F5EF;
}

.navbar-brand{
    font-family: var(--head-font) !important;
    font-weight: bold;
}


#nav-head{
    margin-top: 1.5em;
    font-family: var(--text-font);
    color: black;
}

#nav-bg{
    background-color: white;
}


#auth #nav-head{
    font-family: var(--text-font);
    color: white;

    background-color: var(--fuchsia);
    border: 1px solid var(--fuchsia);
    border-radius: 2.5em;
    margin: 0 .5em;
    padding: .5em 1em;
}
/* #splash{
    font-family: var(--head-font);
    color: black;
    background-color: var(--seafoam);
} */