html{
    --head-font: 'Fredoka One', cursive;
    --text-font: 'Red Hat Display', sans-serif;
  
    --purple: #A259FF;
    --lavendar: #C08EFF;
    --blood-orange: #F24E1E;
    --salmon: #FF7262;
    --blue: #1ABCFE;
    --seafoam: #0ACF83;
    --light-green: #81E08A;
    --dark-green: #06A065;
    --mauv: #EA79A8;
    --fuchsia: #FF2E86;
    --cream2: #F8F5EF;
    --grey: #E5E5E5;
    --grey2: #c3c3c3;

    margin: 0;
}

body{
    margin: 0;
}

/* splash page */
.splashPg{
    width: 100vw;
    top: 0px;
}

.banner{
    top: 10px;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    z-index: 1;
}

.intro-gif{
    margin: 0;
}

.getStarted{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.getStarted h3{
    font-family: var(--head-font);
    font-size: 2em;
}

.getStarted a{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 2em;
    padding: .25em 1em;
    margin: 1.5em;

    text-decoration: none;
    color: white;
    font-weight: bold;
}


.tutorial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    background-color: var(--lavendar);

    padding: 5em 0;
}

.zindex2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-color: var(--cream2);
    border: 1px solid var(--cream2) ;
    border-radius: 2.5em;
    
    height: 75vh;
    width: 75vw;
}

.zindex2 h1{
    font-family: var(--head-font);
    margin-top: 0;
}

.tutorialRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: 1em;
    margin-top: 2em;
}

.tutorialLeft{
    width: 20em;
    margin: 0 1em;
}

.tutorialLeft li{
    font-family: var(--text-font);
    font-size: 1.5em;
}

.tutorialRight iframe{
    width: 45vw;
}

@media (max-width: 1299px) { 
 
    .zindex2 h1{
        font-family: var(--head-font);
        margin-top: 1em;
    }
    
    .tutorialLeft{
        width: 17em;
        margin: 0 1em;
    }
    
    .tutorialLeft li{
        font-family: var(--text-font);
        font-size: 1em;
    }
 }



/* .tutorialRight{
    
} */



.tut-gallery{
    width: 100vw;
    margin: 4em 0;
    padding: 3em 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637612505/paint-app/bg-5_p1mhyi.png');
    background-repeat: no-repeat;
    background-size: fill;
    
}

.tut-gallery img{
    width: 25em;
}

.tut-gallery-img{
    background-color: var(--fuchsia);
    border: 18px solid var(--seafoam);
    margin: 1em;
}

.tut-gallery .descript{
    font-family: var(--head-font);
    font-size: 1.5em;
    width: 50vw;
}

.descript p{
    font-family: var(--text-font);
}

.descript a{
    text-decoration: none;
    color: var(--seafoam)
}

.aboutUs h1{
    margin-top: 1.5em;
    font-family: var(--head-font);
    color: rgb(71, 71, 71);
}

.aboutUs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100vw;

    margin-top: 2em;
    background-image: url('https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637547646/paint-app/Untitled_6_oaeouc.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.people{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 25vw;
    margin: 2.5em;
}

.mariel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 2.5em;
    background-color: white;
    border: 1px solid white;
    border-radius: 2.5em;

    transition: 1s;
}

.mariel p{
    text-align: center;
    font-family: var(--text-font);
}

.mariel .name{
    font-size: 2em;
}

.marielProfilePic{
    width: 15em;
    margin: 1.5em;
    margin-top: 0;
    border-radius: 50%;
    border: 5px solid var(--seafoam);
}

.contactus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: 0;
    margin-top: 2em;
    z-index: 10;
}

.contactus img{
    width: 2em;
    margin: 1.5em;
}

.inCollab{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.inCollab h3{
    font-family: var(--head-font);
}

.incollablogos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.incollablogos img{
    width: 10em;
    margin: 1em;
    margin-bottom: 2em;
}

#js-logo{
    width:5em;
}

/* gallery page */
.gallerypg{
    margin-top: 2em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallerypg h3{
    margin: 2em;
    font-family: var(--head-font);
}

.gallery{
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.galleryImgs{
    width: 15em;
    margin: 1em;

    transition: .25s;
}

/* profile page */

.profilePg{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100vw;
}

.profilePic{
    width: 8em;
}

.profileInfo{
    margin-top: 5em;
    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 2.5em;

    color: white;
}

.profileInfo img{
    width: 15em;
    border: 8px solid var(--fuchsia);
    border-radius: 50%;
}

.profileInfo p{
    margin: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.profileGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 70vw;
    margin-top: 3em;
}

.profileGallery img{
    width: 18em;
}

.getDoodling{
    font-size: 2em;
    font-family: var(--head-font);
    text-decoration: none;
    color: var(--seafoam);

    margin-top: 6em;
}

/* gallery show */
.galleryShowPg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--grey);
}

.galleryShowPg h3{
    margin-top: 2em;
    font-family: var(--head-font);
}

.galleryShowPg a{
    font-family: var(--text-font);
    text-decoration: none;
    font-weight: bold;
}

.backtoGall{
    margin-top: 10em;
}


.border-galleryShow{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin: 2em 0;
    padding: 2em;

    background-color: white;
    border: 1px solid white;
    border-radius: 2.5em;
}

.border-galleryShow .left img{
    width: 30em;
    margin: 1em;
}


.border-galleryShow .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.border-galleryShow .right p{
    font-family: var(--head-font);
}

.border-galleryShow .right img{
    width: 15em;
    border: 8px solid var(--fuchsia);
    border-radius: 50%;
}


/* active links */
.mariel:hover{
    box-shadow: 0 0 50px rgba(80, 80, 80, 0.657);
}

.galleryImgs:hover{
    border: 5px solid var(--seafoam)
}

.contactus img:hover{
    transform: translateY(-0.25em);
    cursor: pointer;
}

.incollablogos img:hover{
    transform: translateY(-0.25em);
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}