html{
    --head-font: 'Black Han Sans', sans-serif;
}

/* splash page */
.splashPg{
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner{
    width: 100vw;
    /* height: 100vh; */
}

.tutorial{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.aboutUs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.people{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.mariel{
    margin: 2.5em;
}

.jane{
    margin: 2.5em;
}

.people img{
    width: 10em;
}

.contactus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contactus img{
    width: 2em;
}

.inCollab{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.incollablogos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.incollablogos img{
    width: 15em;
    margin: 1em;
}

/* gallery page */
.gallerypg{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallerypg h3{
    margin: 2em;
}

.gallery{
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.galleryImgs{
    width: 15em;
    margin: 1em;
}

/* profile page */

.profilePg{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100vw;
}

.profilePic{
    width: 8em;
}

.profileInfo{
    margin-top: 5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileInfo img{
    width: 15em;
    border-radius: 50%;
}

.profileInfo p{
    margin: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.profileGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 70vw;
    margin-top: 3em;
}

.profileGallery img{
    width: 18em;
}

/* active links */

.bgimgs img:hover{
    cursor: pointer;
    box-shadow: 0 0 50px rgba(206, 149, 196, 0.657);
}