*{
    font-family:sans-serif;

    --head-font: 'Fredoka One', cursive;
    --text-font: 'Red Hat Display', sans-serif;

    --orange: #FCBC3F;
    --cream: #F6F2E7;
    --cream2: #F8F5EF;
    --teal: #6EBBBC;
    --lime-green: #D4D925;
}

#settings { 
    display: block; 
    text-align:center}


#paint {
    border: .5px solid rgba(128, 128, 128, 0.50);  
    background-color: white;

    display: block;
    margin: 0 2em;
}

.colorBg{
    background-color: var(--teal);
    width: 85vw;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2em 4em;

    border: 1px solid var(--teal);
    border-radius: 2.5em;
}

.sketchPg{
    width: 100vw;;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2em;

    background-color: var(--cream2);
}

/* pen attributes */
.pen-row h5{
    font-family: var(--head-font);
}

.pen-col{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.pxSize{
    width: 4.5em;
    font-family: var(--text-font);
}

.attributes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-color: var(--teal);
    padding: 1.5em;
    border: 1px solid var(--teal);
    border-radius: 2.5em;
}

.attributes label{

    font-family: var(--text-font);
    font-weight: bold;
}

.attributes select{
    font-family: var(--text-font);
    font-weight: bold;
}

.sketchAssests{
    margin-top: 1.5em;
}

.btnAssests{
    margin-top: 5em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnAssests button{
    margin: 1.5em;

    background-color: var(--lime-green);
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--text-font);
    border: 1px solid var(--lime-green);
    border-radius: 2.5em;

    width: 7.5em;
}

.colorPicker{
    margin: 1em 0;
}

.pxPicker{
    margin: 1em 0;
}

.penTip{
    margin: 1em 0;
}

.drawShapes{
    margin: 1em 0;
}

/* canvas attributes */ 
.canvas h5{
    font-family: var(--head-font);
}

.bgimgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;

    width: calc(8em*2 + 2em)
}

.bgimgs img{
    width: 8em;
    margin: .5em;
}

.skDesc{
    font-size: .75em;
    font-weight: bold;
    margin-left: 3em;

    font-family: var(--text-font);
}

/* .save{
    background-image: url("https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637452518/paint-app/logos/save_bh2gor.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 3em;
    width: 3em;
    border: .5px rgba(133, 133, 133, 0.596) solid;
    border-radius: 50%;;
} */